@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .heroButton{
      @apply px-4 md:px-6 xl:px-8 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:text-[#f7ab0a]/40 hover:border-[#f7ab0a]/40 hover:font-extrabold outline-0
  }
  .contactInput{
      @apply outline-none bg-slate-400/10 rounded-md border-b px-4 py-2 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#f7ab0a]/40 focus:text-[#f7ab0a]/40 hover:border-[#f7ab0a]/40
  }
}